<!--The content below is only a placeholder and can be replaced.-->
<div> <!--[hidden]='consta.menuFlag=="false"'-->
  <app-side-menu class="menu-close" id="menu" [tag]='this' #menu>
  </app-side-menu>
</div>

<div style="" (click)="closeAll($event)">
  <div class="header shadow p-3 bg-clr"> <!--mb-2-->
    <div class="burger" (click)='onMenuClick($event)'>
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div class="mid">
      {{ title }}
    </div>
    <div class="burger" (click)='onOptionsClick($event)' style="display: block; float: right; padding-top: 1px">
    <!-- <div class="burger" (click)='onOptionsClick()' style="display: block; float: right; padding-top: 1px"> -->
      <div class="cir1"></div>
      <div class="cir2"></div>
      <div class="cir3"></div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="footer bg-clr">
    <div>&copy; JSConsole</div>
  </div>
</div>

<!--<div class="options-b4" id="opts">-->
  <ul class="options-b4" id="opts" #opts>
    <li (click)="loadDefaultText()" class="first-li" #optli>Default Script</li>
    <li #optli><hr></li>
    <li (click)="save()" #optli>Save</li>
    <li #optli><hr></li>
    <li (click)="clear()" class="last-li" #optli>Clear</li>
  </ul>
<!--</div>-->
